.button {
  display: block;
  width: 280px;
  background-color: #68b738;
  font-family: $Oswald;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
