.executor {
  padding-top: 28px;
}

.executor__link {
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.executor__link--html-academy {
  margin: 0;
  padding: 0;

  font-family: $Arial;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
}

.executor__link--academy-ico {
  display: block;
}
