.site-list {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 65px;
  left: 0;

  padding: 0;
  margin: 0;
  border-top: 1px solid #e6e6e6;
  z-index: 1;
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  padding: 18px 0;
}

.site-list__anc {
  font-family: $Oswald;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
}
